# MacOS Exclusives
.DS_Store

# Python Exclusives
__pycache__/
venv/

# Qt Creator Exclusives
*.autosave

# Testing utilities
test/
test.*

# PyInstaller and py2app Exclusives
build/
dist/
app.spec
setup.py
